# Numpy

In [1]:
# Import the numpy library as np
import numpy as np

In [2]:
# Create a numpy array with the elements [1, 2, 3, 4, 5]
arr = np.array([1, 2, 3, 4, 5])
print(arr)

[1 2 3 4 5]

In [3]:
# Create a numpy array with the elements 1 to 100.
arr = np.arange(1, 101)
print(arr)

[  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100]

In [4]:
# Print the shape of the array from the previous step
print("Shape of the array:", arr.shape)

Shape of the array: (100,)

In [5]:
# Create a 2x2 numpy array with elements
# |1, 2|
# |3, 4|
arr_2x2 = np.array([[1, 2], [3, 4]])
print(arr_2x2)

[[1 2]
 [3 4]]

In [6]:
# Calculate the sum of all elements in the 2x2 array
print("Sum of all elements:", np.sum(arr_2x2))

Sum of all elements: 10

In [7]:
# Calculate the mean of the elements in the 2x2 array
print("Mean of the elements:", np.mean(arr_2x2))

Mean of the elements: 2.5

In [8]:
# Reshape the 2x2 array to a 1x4 array and print it
reshaped_arr = arr_2x2.reshape(1, 4)
print("Reshaped array:", reshaped_arr)

Reshaped array: [[1 2 3 4]]

# Pandas

In [9]:
# Import the pandas library as pd
import pandas as pd

In [10]:
# Create a pandas DataFrame from the following dictionary:
data = {
    "Name": ["Alice", "Bob", "Charlie", "David"],
    "Age": [23, 25, 30, 22],
    "Score": [85, 90, 88, 95],
}

df = pd.DataFrame(data)
display(df)

      Name  Age  Score
0    Alice   23     85
1      Bob   25     90
2  Charlie   30     88
3    David   22     95

In [11]:
# Print the first 2 rows of the DataFrame
display(df.head(2))

    Name  Age  Score
0  Alice   23     85
1    Bob   25     90

In [12]:
# Print the column names of the DataFrame
print(df.columns)

Index(['Name', 'Age', 'Score'], dtype='object')

In [13]:
# Add a new column called 'Passed' that is True if the 'Score' is greater than or equal to 90, otherwise False
df["Passed"] = df["Score"] >= 90
display(df)

      Name  Age  Score  Passed
0    Alice   23     85   False
1      Bob   25     90    True
2  Charlie   30     88   False
3    David   22     95    True

In [14]:
# Calculate and print the average age of the students
print(df["Age"].mean())

25.0