# Numpy

In [1]:
# Import the numpy library as np

In [2]:
# Create a numpy array with the elements [1, 2, 3, 4, 5]

In [3]:
# Create a numpy array with the elements 1 to 100.

In [4]:
# Print the shape of the array from the previous step

In [5]:
# Create a 2x2 numpy array with elements
# |1, 2|
# |3, 4|

In [6]:
# Calculate the sum of all elements in the 2x2 array

In [7]:
# Calculate the mean of the elements in the 2x2 array

In [8]:
# Reshape the 2x2 array to a 1x4 array and print it

# Pandas

In [9]:
# Import the pandas library as pd

In [10]:
# Create a pandas DataFrame from the following dictionary:
data = {
    "Name": ["Alice", "Bob", "Charlie", "David"],
    "Age": [23, 25, 30, 22],
    "Score": [85, 90, 88, 95],
}

In [11]:
# Print the first 2 rows of the DataFrame

In [12]:
# Print the column names of the DataFrame

In [13]:
# Add a new column called 'Passed' that is True if the 'Score' is greater than or equal to 90, otherwise False

In [14]:
# Calculate and print the average age of the students